.modal-container,
.update-modal-container {
  border: 1px solid black;
  background-color: white;
  padding: 10px 2rem;
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-weight: lighter;
}

form {
  display: flex;
  flex-direction: column;
}

.submit-button {
  align-self: flex-end;
  border: 2px solid black;
  background-color: white;
  margin-top: 0.5rem;
}

#description {
  width: 99%;
  height: 5rem;
  border: 2px solid black;
  resize: none;
}

.drop-down {
  margin-bottom: 1rem;
  margin-right: 1rem;
  border: 2px solid black;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.add-button {
  padding: 10px 60px;
  align-self: center;
  background-color: white;
  border: 3px solid black;
  font-size: 12px;
}

.add-button:hover {
  background-color: rgb(149, 188, 242);
  cursor: pointer;
}

.add-entry-button {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.76);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hidden {
  display: none;
}

.days {
  background-color: white;
  padding: 25px 10px;
  flex-basis: calc(100% / 10);
  border: 3px solid black;
}

.all-days {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.days:hover {
  background-color: rgb(221, 221, 221);
  cursor: pointer;
}

h2 {
  text-align: center;
}

table {
  border: 3px solid black;
  width: 80%;
  align-self: center;
  border-collapse: collapse;
}

.table {
  display: flex;
  flex-direction: column;
}

tr:nth-child(odd) {
  background-color: rgb(238, 238, 238);
}

#table-header {
  background-color: rgb(184, 181, 181);
}

th,
td {
  border-right: 3px solid black;
  border-left: 3px solid black;
}

th {
  text-align: left;
  font-size: 14px;
}

.update-button {
  float: right;
  margin-right: 2rem;
  background-color: rgb(54, 54, 209);
  color: white;
  padding: 0 1.25rem;
  box-shadow: 2px 2px black;
  border-radius: 0.15rem;
}

.update-button:hover {
  background-color: lightskyblue;
  color: black;
}
